/* This CSS file contain GRID, FLEX and LAYOUT implementation */
@import "media_queryes.css";
@import "styles.css";
@import "page.css";
#body1 {
  width: 98%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header1"
    "main1"
    "footer1";
}
#header1 {
  grid-area: header1;
}
#footer1 {
  grid-area: footer1;
}
#main1 {
  grid-area: main1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "aside1"
    "section1";
}
ul {
  display: flex;
}
@media (min-width:800px) {
  #main1 {
    margin: auto;
    grid-area: main1;
    display: grid;
    grid-template-columns: 120px, 5fr;
    grid-template-rows: auto;
    grid-template-areas:
      "aside1 section1"
  }
  ul {
    display: block;
  }
}
#aside1 {
  grid-area: aside1;
  width: 100px;
}
#section1 {
  margin: auto;
  grid-area: section1;
}
li {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 7px;
}
form {
  width: 20%;
  padding-right: 70px;
}
footer {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#signature {
  padding-right: 3%;
}
