@media (min-width: 200px) {
  #pupy {
    content: url("https://place-puppy.com/280x300");
  }
}
@media (min-width: 300px) {
  #pupy {
    content: url("https://place-puppy.com/300x300");
  }
}
@media (min-width: 400px) {
  #pupy {
    content: url("https://place-puppy.com/400x300");
  }
}
@media (min-width: 500px) {
  #pupy {
    content: url("https://place-puppy.com/500x300");
  }
}
@media (min-width: 600px) {
  #pupy {
    content: url("https://place-puppy.com/600x300");
  }
}
@media (min-width: 700px) {
  #pupy {
    content: url("https://place-puppy.com/700x300");
  }
}
@media (min-width: 800px) {
  #pupy {
    content: url("https://place-puppy.com/720x300");
  }
}
@media (min-width: 1000px) {
  #pupy {
    content: url("https://place-puppy.com/920x300");
  }
}
@media (min-width: 1200px) {
  #pupy {
    content: url("https://place-puppy.com/1120x300");
  }
}
@media (min-width: 1400px) {
  #pupy {
    content: url("https://place-puppy.com/1320x300");
  }
}
@media (min-width: 1600px) {
  #pupy {
    content: url("https://place-puppy.com/1520x300");
  }
}
@media (min-width: 1800px) {
  #pupy {
    content: url("https://place-puppy.com/1720x300");
  }
}
@media (min-width: 2000px) {
  #pupy {
    content: url("https://place-puppy.com/1920x300");
  }
}
