/* This page contain STYLE implementation for the main/home HTML page */
html {
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.7);
}
ul,
figure {
  list-style: none;
  margin: 0;
  padding: 0;
}
#submit,
#reset,
a {
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid purple;
  background-color: inherit;
  cursor: pointer;
  text-transform: uppercase;
}
a:hover,
#submit:hover {
  background-color: purple;
  color: white;
}
#reset:hover {
  background-color: red;
  color: white;
}
